
/* Setting default values for doc */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2rem;
  box-shadow: 0px 15px 20px -15px rgb(146, 145, 145);   
}